In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from fake_useragent import UserAgent

## BBC Sports Premier League Table

In [39]:
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

table = soup.find('table')

headers = []
thead = table.find('tr')
for i in thead.find_all('th'):
    title = i.text.replace('\n','')
    headers.append(title)   
    
# Initialize an empty DataFrame with extracted headers
highest_grossing = pd.DataFrame(columns=headers)

# Loop through each row in the table (excluding the first row, which is headers)
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text.strip() for i in row_data]  # Extract text and strip whitespace

    # Ensure the row length matches the number of headers
    if len(row) == len(headers):
        highest_grossing.loc[len(highest_grossing)] = row
    else:
        print(f"Skipping row due to column mismatch: {row}")



# highest_grossing = pd.DataFrame(columns = headers)

# for j in table.find_all('tr')[1:]:
#     row_data = j.find_all('td')
#     row = [i.text for i in row_data] 
#     length = len(highest_grossing)
#     highest_grossing.loc[length] = row



highest_grossing

Skipping row due to column mismatch: ['1', '1', '$2,923,706,026', '2009', '[# 1][# 2]']
Skipping row due to column mismatch: ['2', '1', '$2,797,501,328', '2019', '[# 3][# 4]']
Skipping row due to column mismatch: ['3', '3', '$2,320,250,281', '2022', '[# 5][# 6]']
Skipping row due to column mismatch: ['4', '1', 'T$2,257,844,554', '1997', '[# 7][# 8]']
Skipping row due to column mismatch: ['5', '3', '$2,068,223,624', '2015', '[# 9][# 10]']
Skipping row due to column mismatch: ['6', '4', '$2,048,359,754', '2018', '[# 11][# 12]']
Skipping row due to column mismatch: ['7', '6', '$1,922,598,800', '2021', '[# 13][# 14]']
Skipping row due to column mismatch: ['8', '8', '$1,698,863,816', '2024', '[# 15][# 16]']
Skipping row due to column mismatch: ['9', '3', '$1,671,537,444', '2015', '[# 17][# 18]']
Skipping row due to column mismatch: ['10', '7', '$1,656,943,394', '2019', '[# 19][# 4]']
Skipping row due to column mismatch: ['11', '3', '$1,518,815,515', '2012', '[# 20][# 21]']
Skipping row due to column mismatch: ['12', '4', '$1,515,341,399', '2015', '[# 22][# 23]']
Skipping row due to column mismatch: ['13', '11', '$1,495,696,292', '2022', '[# 24][# 25]']
Skipping row due to column mismatch: ['14', '10', '$1,450,026,933', '2019', '[# 26][# 27]']
Skipping row due to column mismatch: ['15', '14', '$1,447,038,421', '2023', '[# 28][# 29]']
Skipping row due to column mismatch: ['16', '5', '$1,402,809,540', '2015', '[# 30][# 23]']
Skipping row due to column mismatch: ['17', '15', '$1,362,566,989', '2023', '[# 31][# 32]']
Skipping row due to column mismatch: ['18', '9', '$1,347,280,838', '2018', '[# 33][# 34]']
Skipping row due to column mismatch: ['19', '3', '$1,342,139,727', '2011', '[# 35][# 36]']
Skipping row due to column mismatch: ['20', '20', '$1,338,073,645', '2024', '[# 37][# 38]']
Skipping row due to column mismatch: ['21', '9', '$1,332,539,889', '2017', '[# 39][# 40]']
Skipping row due to column mismatch: ['22', '12', '$1,308,473,425', '2018', '[# 41][# 12]']
Skipping row due to column mismatch: ['23', '5', 'F$1,290,000,000', '2013', '[# 42][# 43]']
Skipping row due to column mismatch: ['24', '10', '$1,263,521,126', '2017', '[# 44][# 45]']
Skipping row due to column mismatch: ['25', '15', '$1,242,805,359', '2018', '[# 46][# 12]']
Skipping row due to column mismatch: ['26', '11', 'F8$1,238,764,765', '2017', '[# 47][# 45]']
Skipping row due to column mismatch: ['27', '5', '$1,214,811,252', '2013', '[# 48][# 49]']
Skipping row due to column mismatch: ['28', '10', '$1,159,444,662', '2015', '[# 50][# 18]']
Skipping row due to column mismatch: ['29', '12', '$1,153,337,496', '2016', '[# 51][# 52]']
Skipping row due to column mismatch: ['30', '20', '$1,148,528,393', '2018', '[# 53][# 12]']
Skipping row due to column mismatch: ['31', '2', '$1,147,997,407', '2003', '[# 54][# 55]']
Skipping row due to column mismatch: ['32', '24RK', '$1,132,679,685', '2019', '[# 56][# 4]']
Skipping row due to column mismatch: ['33', '23RK', '$1,128,274,794', '2019', '[# 57][# 58]']
Skipping row due to column mismatch: ['34', '5RK', '$1,123,794,079', '2011', '[# 59][# 36]']
Skipping row due to column mismatch: ['35', '7', '$1,108,594,137', '2012', '[# 60][# 61]']
Skipping row due to column mismatch: ['36', '10', '$1,104,054,072', '2014', '[# 62][# 63]']
Skipping row due to column mismatch: ['37', '7', '$1,081,169,825', '2012', '[# 64][# 65]']
Skipping row due to column mismatch: ['38', '31', '$1,074,458,282', '2019', '[# 66][# 27]']
Skipping row due to column mismatch: ['39', '32', '$1,074,144,248', '2019', '[# 67][# 27]']
Skipping row due to column mismatch: ['40', '30', '$1,073,394,593', '2019', '[# 68][# 4]']
Skipping row due to column mismatch: ['41', '4TS3', '$1,066,970,811', '2010', '[# 69][# 70]']
Skipping row due to column mismatch: ['42', '3', '$1,066,179,747', '2006', '[# 71][# 72]']
Skipping row due to column mismatch: ['43', '20', '$1,057,420,387', '2016', '[# 73][# 74]']
Skipping row due to column mismatch: ['44', '34', '$1,050,693,953', '2019', '[# 75][# 4]']
Skipping row due to column mismatch: ['45', '2', '$1,046,515,409', '1999', '[# 76][# 8]']
Skipping row due to column mismatch: ['46', '6', '$1,045,713,802', '2011', '[# 77][# 70]']
Skipping row due to column mismatch: ['47', '1', '$1,037,535,230', '1993', '[# 78][# 79]']
Skipping row due to column mismatch: ['48', '24', '$1,034,800,131', '2017', '[# 80][# 45]']
Skipping row due to column mismatch: ['49', '22', '$1,028,570,942', '2016', '[# 81][# 82]']
Skipping row due to column mismatch: ['50', '50', '$1,026,655,808', '2024', '[# 83]']

Empty DataFrame
Columns: [Rank, Peak, Title, Worldwide gross, Year, Ref]
Index: []

## Getting table data from worldfootball

In [8]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Define the URL of the webpage containing Premier League winners
url = 'https://www.worldfootball.net/winner/eng-premier-league/'

# Initialize an empty list to store table headers
headers = []

# Send an HTTP GET request to fetch the webpage content
page = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(page.text, "html.parser")

# Find the specific table with class "standard_tabelle" containing the winners data
table = soup.find("table", class_="standard_tabelle")

# Extract column headers from the table
for i in table.find_all('th'):
    title = i.text  # Get the text from each header cell
    headers.append(title)  # Append header to the list

# Create an empty DataFrame with extracted headers
winners = pd.DataFrame(columns=headers)

# Loop through each row in the table (excluding the first row, which is headers)
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')  # Extract all table data cells
    row = [i.text for i in row_data]  # Extract text from each cell
    length = len(winners)  # Get current length of the DataFrame
    winners.loc[length] = row  # Append the row data to the DataFrame

# Drop any empty column (if exists)
winners = winners.drop([''], axis=1)

# Clean the 'Year' column by removing newline characters
winners['Year'] = winners['Year'].str.replace('\n', '')

winners

     Year             Winner  Country
0    2024    Manchester City  England
1    2023    Manchester City  England
2    2022    Manchester City  England
3    2021    Manchester City  England
4    2020       Liverpool FC  England
..    ...                ...      ...
120  1893     Sunderland AFC  England
121  1892     Sunderland AFC  England
122  1891         Everton FC  England
123  1890  Preston North End  England
124  1889  Preston North End  England

[125 rows x 3 columns]

## Getting Data from Ourlads link below

In [15]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from fake_useragent import UserAgent

# Define the URL of the webpage containing NCAA football depth charts
url = 'https://www.ourlads.com/ncaa-football-depth-charts/depth-chart/army/90038'

# Generate a random user agent to mimic a real browser request
ua = UserAgent()
userAgent = ua.random
head = {'User-Agent': userAgent}

# Send an HTTP GET request to fetch the webpage content
page = requests.get(url, headers=head)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(page.content, "html.parser")

# Extract the team name from the webpage
team_name = soup.find('div', {'class': 'pt-team'}).text.strip()

# Find the specific table with class "table table-bordered" containing depth chart data
table = soup.find('table', class_='table table-bordered')

# Extract column headers from the table
headers = [th.text.strip() for th in table.find_all('th')]

# Initialize an empty list to store rows of data
rows = []

# Loop through each row in the table body
for tr in table.find('tbody').find_all('tr'):
    cells = [td.text.strip() for td in tr.find_all('td')]  # Extract text from each cell
    rows.append(cells)  # Append row data to the list

# Create a DataFrame from the extracted table data
df = pd.DataFrame(rows, columns=headers)

# Add a new column for team name
df['team_name'] = team_name

# Identify and label field positions (Offense, Defense, Special Teams)
df['field_pos'] = df['Pos'].where(df['Pos'].isin(['Offense', 'Defense', 'Special Teams']))

# Forward fill field position labels
df['field_pos'] = df['field_pos'].ffill()

# Remove rows that contain only position headers (Offense, Defense, Special Teams)
df = df[~df['Pos'].isin(['Offense', 'Defense', 'Special Teams', 'OFF', 'ST', 'DEF'])]

# Print the final DataFrame
df

,Pos,No.,Player 1,No,Player 2,No,Player 3,No,Player 4,No,Player 5,team_name,field_pos
2,WR,4,"Fortner, Liam JR",87,"Reynolds, Casey SR",84,"Schurr, Cam SR",,,,,Army Black Knights,Offense
3,LT,60,"Finucane, Connor SR",77,"Law, Jordyn SR",,,,,,,Army Black Knights,Offense
4,LG,53,"Katsigiannis, Bill SR",50,"Bartosh, Braden JR",,,,,,,Army Black Knights,Offense
5,C,51,"Small, Brady SO",75,"Kloska, Kyle SO/TR",,,,,,,Army Black Knights,Offense
6,RG,71,"Gennarelli, Paolo SO",59,"Jeffcoat, Will SR",,,,,,,Army Black Knights,Offense
7,RT,65,"Scott, Lucas SR",58,"Appleton, Henry SO",,,,,,,Army Black Knights,Offense
8,TE,85,"Crossan, David SR",44,"Poloskey, Parker SO",83,"Williams, Teddy SO",,,,,Army Black Knights,Offense
9,QB,13,"Daily, Bryson SR",10,"Coleman, Dewayne JR",3,"Hellums, Cale SO",,,,,Army Black Knights,Offense
10,RB-A,8,"Reed, Hayden JR",33,"Rendina, Jake SO",48,"Smith, Carson SO",,,,,Army Black Knights,Offense
11,RB-B,22,"Stewart, Miles SR",86,"Montesi, Will SR",,,,,,,Army Black Knights,Offense
12,SB,15,"Short, Noah JR",21,"Robinson, Tyrell SR",27,"Howard, Samari SO",,,,,Army Black Knights,Offense
15,LDE,97,"Miller, Dre SR",91,"Sofia, Trey SR",,,,,,,Army Black Knights,Defense
16,NT,52,"Harris-Miller, Kody SO",62,"Tuioti, Jacob JR",93,"Winokur, Cody SR",54,"Gemma, Matt FR",,,Army Black Knights,Defense
17,RDE,95,"Lewis, Kyle SR",92,"Latore, Jack JR",98,"Gray, Deshontez JR",,,,,Army Black Knights,Defense
18,OLB,18,"Modozie, Elo SO",40,"Ford, Eric JR",,,,,,,Army Black Knights,Defense
19,MLB,53,"Fortner, Kalib JR",36,"Gerena, Brett SR",,,,,,,Army Black Knights,Defense
20,WLB,51,"Thomas, Andon JR",29,"Cash, Adam SR",,,,,,,Army Black Knights,Defense
21,LCB,7,"Mayes, Jaydan JR",16,"Washington, Damon SR",,,,,,,Army Black Knights,Defense
22,SS,20,"Larkin, Casey JR",30,"Matteson, Collin JR",,,,,,,Army Black Knights,Defense
23,FS,6,"DiDomenico, Max SR",3,"Nnadozie, Stephen SO",,,,,,,Army Black Knights,Defense
24,RCB,28,"Platt, Donavon JR",5,"Weaver, Justin JR",,,,,,,Army Black Knights,Defense
25,NB,2,"Keith, Chance SR",25,"Banks, Josiah SR",,,,,,,Army Black Knights,Defense
28,PT,46,"Wagenseller, James SO",,,,,,,,,Army Black Knights,Special Teams
29,PK,96,"Gronotte, Trey SR",,,,,,,,,Army Black Knights,Special Teams
30,KO,96,"Gronotte, Trey SR",,,,,,,,,Army Black Knights,Special Teams
31,LS,55,"Walter, Owen SO",,,,,,,,,Army Black Knights,Special Teams
32,H,99,"Rhodes, Matthew SR",,,,,,,,,Army Black Knights,Special Teams
33,PR,21,"Robinson, Tyrell SR",23,"Benson III, Lloyd SO",,,,,,,Army Black Knights,Special Teams
34,KR,21,"Robinson, Tyrell SR",22,"Stewart, Miles SR",,,,,,,Army Black Knights,Special Teams