In [ ]:
pip install pandas

# Advanced Pandas Techniques

## Course Overview

Building on the introduction, this notebook covers advanced Pandas techniques:
- Advanced data manipulation
- Time series analysis
- Performance optimization
- Advanced merging and joining
- Data cleaning and preprocessing
- Complex aggregations

In [4]:
import pandas as pd
import numpy as np
import datetime

## 1. Advanced Data Manipulation

In [ ]:
# Creating complex DataFrames
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two'],
    'C': np.random.randn(6),
    'D': np.random.randn(6)
})

# Pivot table
pivot = df.pivot_table(values='C', index='A', columns='B', aggfunc='mean')
print("Pivot Table:")
print(pivot)

# Melt transformation
melted = df.melt(id_vars=['A', 'B'], value_vars=['C', 'D'])
print("\nMelted DataFrame:")
print(melted.head())

Pivot Table:
B         one     three       two
A
bar  0.505531 -0.175603  3.733282
foo  1.095014       NaN  0.640933

Melted DataFrame:
     A      B variable     value
0  foo    one        C  1.095014
1  bar    one        C  0.505531
2  foo    two        C -0.973256
3  bar  three        C -0.175603
4  foo    two        C  2.255122

B         one     three       two
A
bar  0.505531 -0.175603  3.733282
foo  1.095014       NaN  0.640933

## 2. Time Series Analysis

In [6]:
# Generate time series data
dates = pd.date_range('2023-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(100), index=dates)

# Resampling
daily_mean = ts.resample('M').mean()
print("Monthly Means:")
print(daily_mean)

# Rolling window calculations
rolling_mean = ts.rolling(window=7).mean()
print("\n7-Day Rolling Mean:")
print(rolling_mean.head())

Monthly Means:
2023-01-31   -0.098884
2023-02-28   -0.051505
2023-03-31   -0.079920
2023-04-30    0.125409
Freq: ME, dtype: float64

7-Day Rolling Mean:
2023-01-01   NaN
2023-01-02   NaN
2023-01-03   NaN
2023-01-04   NaN
2023-01-05   NaN
Freq: D, dtype: float64

/tmp/ipykernel_1835/997216924.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  daily_mean = ts.resample('M').mean()

## 3. Performance Optimization

In [7]:
# Large dataset generation
large_df = pd.DataFrame({
    'category': np.random.choice(['A', 'B', 'C'], size=1000000),
    'value': np.random.randn(1000000)
})

# Efficient groupby
%time large_df.groupby('category')['value'].agg(['mean', 'sum'])

# Using categoricals for memory efficiency
large_df['category'] = large_df['category'].astype('category')
%time large_df.groupby('category')['value'].agg(['mean', 'sum'])

CPU times: user 38.2 ms, sys: 12.3 ms, total: 50.5 ms
Wall time: 50.5 ms
CPU times: user 11.7 ms, sys: 0 ns, total: 11.7 ms
Wall time: 11.5 ms

<timed eval>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

              mean         sum
category
A        -0.000204  -68.071703
B        -0.000278  -92.705273
C         0.001111  370.046816

## 4. Advanced Merging and Joining

In [8]:
# Create sample DataFrames
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value2': [20, 40, 50, 60]
})

# Different types of joins
inner_join = pd.merge(df1, df2, on='key', how='inner')
outer_join = pd.merge(df1, df2, on='key', how='outer')

print("Inner Join:")
print(inner_join)

print("\nOuter Join:")
print(outer_join)

Inner Join:
  key  value1  value2
0   B       2      20
1   D       4      40

Outer Join:
  key  value1  value2
0   A     1.0     NaN
1   B     2.0    20.0
2   C     3.0     NaN
3   D     4.0    40.0
4   E     NaN    50.0
5   F     NaN    60.0

## 5. Data Cleaning and Preprocessing

In [9]:
# Create DataFrame with missing and problematic data
dirty_df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': ['a', 'b', 'c', None],
    'C': ['2023-01-01', '2023-02-01', 'invalid', '2023-04-01']
})

# Handle missing values
cleaned_df = dirty_df.copy()
cleaned_df['A'].fillna(cleaned_df['A'].mean(), inplace=True)
cleaned_df['B'].fillna('unknown', inplace=True)

# Convert to datetime with error handling
cleaned_df['C'] = pd.to_datetime(cleaned_df['C'], errors='coerce')

print("Cleaned DataFrame:")
print(cleaned_df)

Cleaned DataFrame:
          A        B          C
0  1.000000        a 2023-01-01
1  2.000000        b 2023-02-01
2  2.333333        c        NaT
3  4.000000  unknown 2023-04-01

/tmp/ipykernel_1835/4101935864.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_df['A'].fillna(cleaned_df['A'].mean(), inplace=True)
/tmp/ipykernel_1835/4101935864.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_df['B'].fillna('unknown', inplace=True)

## 6. Complex Aggregations

In [10]:
# Create multi-level DataFrame
multi_df = pd.DataFrame({
    'group1': ['A', 'A', 'B', 'B'],
    'group2': ['X', 'Y', 'X', 'Y'],
    'value1': [10, 20, 30, 40],
    'value2': [1, 2, 3, 4]
})

# Advanced groupby with multiple aggregations
result = multi_df.groupby(['group1', 'group2']).agg({
    'value1': ['sum', 'mean'],
    'value2': ['max', 'min']
})

print("Multi-level Aggregation:")
print(result)

Multi-level Aggregation:
              value1       value2
                 sum  mean    max min
group1 group2
A      X          10  10.0      1   1
       Y          20  20.0      2   2
B      X          30  30.0      3   3
       Y          40  40.0      4   4

## 7. Advanced Indexing: `.loc` vs `.iloc`

In [11]:
# Create a DataFrame with labeled index
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 22],
    'City': ['New York', 'SF', 'Chicago', 'Boston', 'LA']
}, index=['a', 'b', 'c', 'd', 'e'])

# .loc - Label-based indexing
print("Selecting by label:")
print(df.loc['b'])  # Select row with label 'b'
print("\nMultiple label selection:")
print(df.loc[['a', 'c']])  # Select multiple rows

# Conditional selection with .loc
print("\nConditional selection:")
print(df.loc[df['Age'] > 25, ['Name', 'City']])

# .iloc - Integer-based indexing
print("\n.iloc indexing:")
print(df.iloc[1])  # Second row
print("\nSlice with .iloc:")
print(df.iloc[1:4, 0:2])  # Rows 1-3, first two columns

Selecting by label:
Name    Bob
Age      30
City     SF
Name: b, dtype: object

Multiple label selection:
      Name  Age      City
a    Alice   25  New York
c  Charlie   35   Chicago

Conditional selection:
      Name     City
b      Bob       SF
c  Charlie  Chicago
d    David   Boston

.iloc indexing:
Name    Bob
Age      30
City     SF
Name: b, dtype: object

Slice with .iloc:
      Name  Age
b      Bob   30
c  Charlie   35
d    David   28

## 8. Missing Data Handling

In [ ]:
# Create DataFrame with missing values
missing_df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, np.nan, 5],
    'C': ['apple', np.nan, 'cherry', 'date', np.nan]
})

# Detect missing values
print("Missing value detection:")
print(missing_df.isna())  # Boolean mask of missing values
print("\nTotal missing values:\n", missing_df.isna().sum())

# Handling missing values
# Fill methods
filled_mean = missing_df.fillna({
    'A': missing_df['A'].mean(),
    'B': 0,
    'C': 'unknown'
})

# Advanced filling
forward_filled = missing_df.fillna(method='ffill')  # Forward fill
backward_filled = missing_df.fillna(method='bfill')  # Backward fill

# Dropping missing values
dropped = missing_df.dropna()  # Drop rows with ANY missing values
dropped_all = missing_df.dropna(how='all')  # Drop only rows where ALL values are missing

## 9. Advanced Grouping and Pivoting

In [ ]:
# Create complex DataFrame for grouping
sales_df = pd.DataFrame({
    'Date': pd.date_range('2023-01-01', periods=12),
    'Product': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'B', 'C', 'A'],
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 
               'East', 'West', 'North', 'South', 'East', 'West'],
    'Sales': np.random.randint(100, 1000, 12)
})

# Multi-level grouping
grouped = sales_df.groupby(['Product', 'Region'])

# Complex aggregation
agg_result = grouped['Sales'].agg([
    ('total_sales', 'sum'),
    ('avg_sales', 'mean'),
    ('max_sales', 'max')
])
print("Multi-level Aggregation:")
print(agg_result)

# Pivot table
pivot_table = sales_df.pivot_table(
    values='Sales', 
    index='Product', 
    columns='Region', 
    aggfunc='mean'
)
print("\nPivot Table:")
print(pivot_table)

# Advanced pivot with multiple aggregations
multi_pivot = sales_df.pivot_table(
    values='Sales', 
    index='Product', 
    columns='Region', 
    aggfunc=['mean', 'sum']
)
print("\nMulti-aggregation Pivot:")
print(multi_pivot)